/* This is here to give everything a red border, just to make it easier to see while developing. */
* 
/* You can turn it off if you want. (delete or comment it out) */

/* Write your rules below */
.button {
      width:400px;
      border-color:A9A9A9;
      background-color:lightblue;
      text-align: center;
      color:white;
      border-radius:10px;
      box-shadow: 1px 1px 1px 0 gray;
      padding: 5px;
    }
    .button a:hover, a:active, a:link, a:visited {text-decoration: none;color:white;
    }
    table, th, td {
      text-align: left;
    }
    